@charset "utf-8";
header {
  height: 80px;
  background: linear-gradient(to right, #f49bc7 0%, #e5b1d6 38%, #d7c6e6 64%, #c5ddf5 100%);
}
header img{
  width: 50px;
  margin: 10px 0px 0px 50px;
}
header span{
  font-weight: bold;
}
.intro{
  background: linear-gradient(to right, rgba(255,234,234,1) 0%,rgba(125,185,232,0) 100%);;
}
